{
  "swagger": "2.0",
  "info": {
    "title": "REST API",
    "description": "# Welcome to Coinbase Prime API\n## Introduction\nThe Prime APIs allow for programmatic management of trading, custody, real-time market data, and account management. The following API pages detail the various REST API endpoints we offer.\n## Getting Started\nTo get started, please visit one of the following pages:\n- [Authentication](/prime/docs/rest-authentication)\n- [Pagination](/prime/docs/rest-pagination)\n- [Rate Limits](/prime/docs/rest-rate-limits)\n- [Quickstart](/prime/docs/quickstart)\n## FIX API\n- [FIX API reference](/prime/docs/fix-connectivity)\n## WebSocket API\n- [WebSocket API reference](/prime/docs/websocket-feed)",
    "version": "0.1"
  },
  "tags": [
    {
      "name": "PrimeRESTAPI"
    }
  ],
  "host": "api.prime.coinbase.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/activities/{activity_id}": {
      "get": {
        "summary": "Get Activity by Activity ID",
        "description": "Retrieve an activity by its activity ID - this endpoint can retrieve both portfolio and entity activities when passed the appropriate API key",
        "operationId": "PrimeRESTAPI_GetActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "activity_id",
            "description": "Id of the activity to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Activities"
        ]
      }
    },
    "/v1/allocations": {
      "post": {
        "summary": "Create Portfolio Allocations",
        "description": "Create allocation for a given portfolio.",
        "operationId": "PrimeRESTAPI_CreateAllocation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CreateAllocationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CreateAllocationRequest"
            }
          }
        ],
        "tags": [
          "Allocations"
        ]
      }
    },
    "/v1/allocations/net": {
      "post": {
        "summary": "Create Portfolio Net Allocations",
        "description": "Create net allocation for a given portfolio.",
        "operationId": "PrimeRESTAPI_CreateNetAllocation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CreateNetAllocationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CreateAllocationRequest"
            }
          }
        ],
        "tags": [
          "Allocations"
        ]
      }
    },
    "/v1/entities/{entity_id}/accruals": {
      "get": {
        "summary": "List Interest Accruals",
        "description": "Lists interest accruals for an entity between the specified date range given",
        "operationId": "PrimeRESTAPI_GetInterestAccruals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetInterestAccrualsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The unique ID of the entity",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "portfolio_id",
            "description": "The unique ID of the portfolio",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_date",
            "description": "The start date of the range to query for in RFC3339 format",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "description": "The end date of the range to query for in RFC3339 format",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/entities/{entity_id}/activities": {
      "get": {
        "summary": "List Entity Activities",
        "description": "List all activities associated with a given entity.",
        "operationId": "PrimeRESTAPI_GetEntityActivities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetEntityActivitiesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "Entity to retrieve activities for",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "activity_level",
            "description": "Activity level to retrieve activities for",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ACTIVITY_LEVEL_ALL",
              "ACTIVITY_LEVEL_PORTFOLIO",
              "ACTIVITY_LEVEL_ENTITY"
            ],
            "default": "ACTIVITY_LEVEL_ALL"
          },
          {
            "name": "symbols",
            "description": "Filter by list of currencies",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "categories",
            "description": "Filter by list of activity categories [order, transaction, account, admin, allocation]",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "OTHER_ACTIVITY_CATEGORY",
                "ACTIVITY_CATEGORY_ORDER",
                "ACTIVITY_CATEGORY_TRANSACTION",
                "ACTIVITY_CATEGORY_ACCOUNT",
                "ACTIVITY_CATEGORY_ADMIN",
                "ACTIVITY_CATEGORY_ALLOCATION",
                "ACTIVITY_CATEGORY_LENDING"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statuses",
            "description": "Filter by list of statuses",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "OTHER_ACTIVITY_STATUS",
                "ACTIVITY_STATUS_CANCELLED",
                "ACTIVITY_STATUS_PROCESSING",
                "ACTIVITY_STATUS_COMPLETED",
                "ACTIVITY_STATUS_EXPIRED",
                "ACTIVITY_STATUS_REJECTED",
                "ACTIVITY_STATUS_FAILED"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "start_time",
            "description": "Filter created time by start date",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_time",
            "description": "Filter created time by end date",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "Id to retrieve additional results strictly after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          }
        ],
        "tags": [
          "Activities"
        ]
      }
    },
    "/v1/entities/{entity_id}/aggregate_positions": {
      "get": {
        "summary": "List Aggregate Entity Positions",
        "description": "List paginated aggregate positions for a specific entity.",
        "operationId": "PrimeRESTAPI_ListAggregateEntityPositions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.ListAggregateEntityPositionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The unique ID of the entity",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "Id to retrieve additional results strictly after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Positions"
        ]
      }
    },
    "/v1/entities/{entity_id}/assets": {
      "get": {
        "summary": "List Assets",
        "description": "List all assets available for a given entity.",
        "operationId": "PrimeRESTAPI_GetEntityAssets",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetEntityAssetsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Assets"
        ]
      }
    },
    "/v1/entities/{entity_id}/balances": {
      "get": {
        "summary": "List Entity Balances",
        "description": "List all balances for a specific entity.",
        "operationId": "PrimeRESTAPI_ListEntityBalances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.ListEntityBalancesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "symbols",
            "description": "A list of symbols by which to filter the response",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "description": "Id to retrieve additional results strictly after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "aggregation_type",
            "description": "A type by which to filter aggregated balances, defaults to \"TOTAL\"\n\n - UNKNOWN_BALANCE_TYPE: nil\n - TRADING_BALANCES: Trading balances\n - VAULT_BALANCES: Vault balances\n - TOTAL_BALANCES: Total balances (The sum of vault and trading + prime custody)\n - PRIME_CUSTODY_BALANCES: Prime custody balances\n - UNIFIED_TOTAL_BALANCES: Unified total balance across networks and wallet types (vault + trading + prime custody)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_BALANCE_TYPE",
              "TRADING_BALANCES",
              "VAULT_BALANCES",
              "TOTAL_BALANCES",
              "PRIME_CUSTODY_BALANCES",
              "UNIFIED_TOTAL_BALANCES"
            ],
            "default": "UNKNOWN_BALANCE_TYPE"
          }
        ],
        "tags": [
          "Balances"
        ]
      }
    },
    "/v1/entities/{entity_id}/futures/auto_sweep": {
      "post": {
        "summary": "Set Auto Sweep",
        "description": "Set auto sweep for a given entity.",
        "operationId": "PrimeRESTAPI_SetAutoSweep",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.SetAutoSweepResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "Entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "auto_sweep": {
                  "type": "boolean",
                  "example": true,
                  "description": "Auto sweep status, default to false"
                }
              },
              "required": [
                "auto_sweep"
              ]
            }
          }
        ],
        "tags": [
          "Futures"
        ]
      }
    },
    "/v1/entities/{entity_id}/futures/balance_summary": {
      "get": {
        "summary": "Get Entity FCM Balance",
        "description": "Retrieve fcm balance for a given entity.",
        "operationId": "PrimeRESTAPI_GetFcmBalance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetFcmBalanceResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "Entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Futures"
        ]
      }
    },
    "/v1/entities/{entity_id}/futures/positions": {
      "get": {
        "summary": "Get Entity Positions",
        "description": "Retrieve all active fcm positions for a given entity.",
        "operationId": "PrimeRESTAPI_GetPositions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPositionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "Entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "product_id",
            "description": "Product ID. Optional",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Futures"
        ]
      }
    },
    "/v1/entities/{entity_id}/futures/sweeps": {
      "get": {
        "summary": "List Entity Futures Sweeps",
        "description": "Retrieve fcm sweeps in open status, including pending and processing sweeps.",
        "operationId": "PrimeRESTAPI_GetFuturesSweeps",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetFuturesSweepsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "Entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Futures"
        ]
      },
      "delete": {
        "summary": "Cancel Entity Futures Sweep",
        "description": "Cancel the pending sweep for a given entity. A user will only be able to have one pending sweep at a time. If the sweep is not found, a 404 will be returned.",
        "operationId": "PrimeRESTAPI_CancelFuturesSweep",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CancelFuturesSweepResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "Entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Futures"
        ]
      },
      "post": {
        "summary": "Schedule Entity Futures Sweep",
        "description": "Schedule a sweep for a given entity from FCM wallet to USD Spot wallet. Only one pending sweep is allowed at a time per entity.",
        "operationId": "PrimeRESTAPI_ScheduleFuturesSweep",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.ScheduleFuturesSweepResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "Entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "example": "1000.00",
                  "description": "Amount. Default to sweep all if not provided"
                },
                "currency": {
                  "type": "string",
                  "example": "USD",
                  "description": "Currency. Required"
                }
              },
              "required": [
                "currency"
              ]
            }
          }
        ],
        "tags": [
          "Futures"
        ]
      }
    },
    "/v1/entities/{entity_id}/invoices": {
      "get": {
        "summary": "List Invoices",
        "description": "Retrieve a list of invoices belonging to an entity.",
        "operationId": "PrimeRESTAPI_GetInvoices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetInvoicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "states",
            "description": "Invoice states to filter the response",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "INVOICE_STATE_UNSPECIFIED",
                "INVOICE_STATE_IMPORTED",
                "INVOICE_STATE_BILLED",
                "INVOICE_STATE_PARTIALLY_PAID",
                "INVOICE_STATE_PAID"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "billing_year",
            "description": "Filter invoices by year",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "billing_month",
            "description": "Integer representing the month to filter by, 1 for January, 12 for December",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cursor",
            "description": "Cursor used for pagination (last consumed record)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Invoices"
        ]
      }
    },
    "/v1/entities/{entity_id}/locates_availability": {
      "get": {
        "summary": "Get Entity Locate Availabilities",
        "description": "Get currencies available to be located with their corresponding amount and rate.",
        "operationId": "PrimeRESTAPI_GetLocateAvailabilities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetLocateAvailabilitiesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The unique ID of the entity",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "conversion_date",
            "description": "Deprecated: Use locate_date instead",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "locate_date",
            "description": "The date of the locate availability in YYYY-MM-DD format",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/entities/{entity_id}/margin": {
      "get": {
        "summary": "Get Margin Information",
        "description": "Gets real-time evaluation of the margin model based on current positions and spot rates.",
        "operationId": "PrimeRESTAPI_GetMarginInformation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetMarginInformationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The unique ID of the entity",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/entities/{entity_id}/margin_summaries": {
      "get": {
        "summary": "List Margin Call Summaries",
        "description": "Lists the margin call history for a given entity ID.",
        "operationId": "PrimeRESTAPI_GetMarginSummaries",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetMarginSummariesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The unique ID of the entity",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "description": "The start date of the range to query for in RFC3339 format. Must be within the last 3 months",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "description": "The end date of the range to query for in RFC3339 format",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/entities/{entity_id}/payment-methods": {
      "get": {
        "summary": "List Entity Payment Methods",
        "description": "Retrieve all payment methods for a given entity.",
        "operationId": "PrimeRESTAPI_GetEntityPaymentMethods",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetEntityPaymentMethodsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Payment Methods"
        ]
      }
    },
    "/v1/entities/{entity_id}/payment-methods/{payment_method_id}": {
      "get": {
        "summary": "Get Entity Payment Method",
        "description": "Get payment method details by id for a given entity.",
        "operationId": "PrimeRESTAPI_GetEntityPaymentMethodDetails",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetEntityPaymentMethodDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "payment_method_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Payment Methods"
        ]
      }
    },
    "/v1/entities/{entity_id}/positions": {
      "get": {
        "summary": "List Entity Positions",
        "description": "List paginated positions for a specific entity.",
        "operationId": "PrimeRESTAPI_ListEntityPositions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.ListEntityPositionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The unique ID of the entity",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "Id to retrieve additional results strictly after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Positions"
        ]
      }
    },
    "/v1/entities/{entity_id}/tf_tiered_fees": {
      "get": {
        "summary": "Get Trade Finance Tiered Pricing Fees",
        "description": "Get trade finance tiered pricing fees for a given entity at a specific time, default to current time.",
        "operationId": "PrimeRESTAPI_GetTFTieredPricingFees",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetTFTieredPricingFeesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The unique ID of the entity",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "effective_at",
            "description": "The fees on a specific effective date in RFC3339 format",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/entities/{entity_id}/users": {
      "get": {
        "summary": "List Users",
        "description": "List all users associated with a given entity.",
        "operationId": "PrimeRESTAPI_GetEntityUsers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetEntityUsersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "entity_id",
            "description": "The entity ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "Cursor used for pagination (last consumed record)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          }
        ],
        "tags": [
          "Users"
        ]
      }
    },
    "/v1/portfolios": {
      "get": {
        "summary": "List Portfolios",
        "description": "List all portfolios for which the current API key has read access.",
        "operationId": "PrimeRESTAPI_GetPortfolios",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfoliosResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "tags": [
          "Portfolios"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}": {
      "get": {
        "summary": "Get Portfolio by Portfolio ID",
        "description": "Retrieve a given portfolio by its portfolio ID.",
        "operationId": "PrimeRESTAPI_GetPortfolio",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Portfolios"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/accept_quote": {
      "post": {
        "summary": "Accept Quote",
        "description": "Accepts the quote received by the quote request and creates an order with the provided quote ID.\n\nAlways required: portfolio_id, product_id, side, quote_id, client_quote_id.",
        "operationId": "PrimeRESTAPI_AcceptQuote",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.AcceptQuoteResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The ID of the portfolio that owns the order",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string",
                  "title": "The ID of the product being traded for the order (e.g. `BTC-USD`)"
                },
                "side": {
                  "$ref": "#/definitions/coinbase.public_rest_api.OrderSide",
                  "example": "BUY",
                  "description": "The side of the order"
                },
                "client_order_id": {
                  "type": "string",
                  "example": "f69a20b1-4ac4-420e-90b5-814a12565bfa",
                  "description": "A client-generated ID used for reference purposes (note: order will be rejected if this ID is not unique among all currently active orders)"
                },
                "quote_id": {
                  "type": "string",
                  "example": "f69a20b1-4ac4-420e-90b5-814a12565bfa",
                  "description": "A quote id that was returned from the quote request"
                },
                "settl_currency": {
                  "type": "string",
                  "title": "next: 7"
                }
              },
              "required": [
                "product_id",
                "side",
                "client_order_id",
                "quote_id"
              ]
            }
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/accruals": {
      "get": {
        "summary": "List Interest Accruals For Portfolio",
        "description": "Lists interest accruals between the specified date range for a specific portfolio ID",
        "operationId": "PrimeRESTAPI_GetPortfolioInterestAccruals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioInterestAccrualsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The unique ID of the portfolio",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "description": "The start date of the range to query for in RFC3339 format",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "description": "The end date of the range to query for in RFC3339 format",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/activities": {
      "get": {
        "summary": "List Activities",
        "description": "List all activities associated with a given portfolio.",
        "operationId": "PrimeRESTAPI_GetPortfolioActivities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioActivitiesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio to retrieve activities for.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "symbols",
            "description": "Filter by list of currencies",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "categories",
            "description": "Filter by list of activity categories [order, transaction, account, admin, allocation]",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "OTHER_ACTIVITY_CATEGORY",
                "ACTIVITY_CATEGORY_ORDER",
                "ACTIVITY_CATEGORY_TRANSACTION",
                "ACTIVITY_CATEGORY_ACCOUNT",
                "ACTIVITY_CATEGORY_ADMIN",
                "ACTIVITY_CATEGORY_ALLOCATION",
                "ACTIVITY_CATEGORY_LENDING"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statuses",
            "description": "Filter by list of statuses",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "OTHER_ACTIVITY_STATUS",
                "ACTIVITY_STATUS_CANCELLED",
                "ACTIVITY_STATUS_PROCESSING",
                "ACTIVITY_STATUS_COMPLETED",
                "ACTIVITY_STATUS_EXPIRED",
                "ACTIVITY_STATUS_REJECTED",
                "ACTIVITY_STATUS_FAILED"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "start_time",
            "description": "Filter created time by start date",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_time",
            "description": "Filter created time by end date",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "Id to retrieve additional results strictly after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          }
        ],
        "tags": [
          "Activities"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/activities/{activity_id}": {
      "get": {
        "summary": "Get Portfolio Activity by Activity ID",
        "description": "Retrieve an activity by its activity ID",
        "operationId": "PrimeRESTAPI_GetPortfolioActivity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioActivityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio to retrieve activity for.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "activity_id",
            "description": "Id of the activity to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Activities"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/address_book": {
      "get": {
        "summary": "Get Address Book",
        "description": "Gets a list of address book addresses.",
        "operationId": "PrimeRESTAPI_GetPortfolioAddressBook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioAddressBookResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "currency_symbol",
            "description": "Cryptocurrency symbol -- if nothing is passed, all addresses are returned",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "description": "Query string that matches the address name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "ID marking the point after which additional results should be retrieved",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of addresses to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          }
        ],
        "tags": [
          "Address Book"
        ]
      },
      "post": {
        "summary": "Create Address Book Entry",
        "description": "Creates an entry for a portfolio's trusted addresses.",
        "operationId": "PrimeRESTAPI_CreatePortfolioAddressBookEntry",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CreatePortfolioAddressBookEntryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "Crypto address to add"
                },
                "currency_symbol": {
                  "type": "string",
                  "description": "Currency symbol of address to add"
                },
                "name": {
                  "type": "string",
                  "description": "Name of address book entry"
                },
                "account_identifier": {
                  "type": "string",
                  "description": "Account Identifier (memo/destination tag)"
                }
              },
              "required": [
                "address",
                "currency_symbol",
                "name"
              ]
            }
          }
        ],
        "tags": [
          "Address Book"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/allocations": {
      "get": {
        "summary": "Get Portfolio Allocations",
        "description": "List historical allocations for a given portfolio.",
        "operationId": "PrimeRESTAPI_GetPortfolioAllocations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioAllocationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio to retrieve allocations for.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "product_ids",
            "description": "List of products by which to filter the response.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_side",
            "description": "An order side to filter allocations on.\n\n - UNKNOWN_ORDER_SIDE: nil value\n - BUY: Buy order\n - SELL: Sell order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_ORDER_SIDE",
              "BUY",
              "SELL"
            ],
            "default": "UNKNOWN_ORDER_SIDE"
          },
          {
            "name": "start_date",
            "description": "A start date for the allocations to be queried from.",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "description": "An end date for the orders to be queried from.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "cursor",
            "description": "Id to retrieve additional results strictly after",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order: DESC or ASC",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          }
        ],
        "tags": [
          "Allocations"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/allocations/net/{netting_id}": {
      "get": {
        "summary": "Get Net Allocations by Netting ID",
        "description": "Retrieve an allocation by netting ID.",
        "operationId": "PrimeRESTAPI_GetAllocationsByClientNettingId",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetAllocationsByClientNettingIdResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The portfolio ID of the allocation",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "netting_id",
            "description": "The allocation netting ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "allocation_id",
            "description": "The ID of the allocation",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Allocations"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/allocations/{allocation_id}": {
      "get": {
        "summary": "Get Allocation by ID",
        "description": "Retrieve an allocation by allocation ID.",
        "operationId": "PrimeRESTAPI_GetAllocation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetAllocationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The portfolio ID of the allocation",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "allocation_id",
            "description": "The ID of the allocation",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "netting_id",
            "description": "The allocation netting ID",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Allocations"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/balances": {
      "get": {
        "summary": "List Portfolio Balances",
        "description": "List all balances for a specific portfolio.",
        "operationId": "PrimeRESTAPI_GetPortfolioBalances",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioBalancesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "symbols",
            "description": "A list of symbols by which to filter the response",
            "in": "query",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "balance_type",
            "description": "A type by which to filter balances\n\n - UNKNOWN_BALANCE_TYPE: nil\n - TRADING_BALANCES: Trading balances\n - VAULT_BALANCES: Vault balances\n - TOTAL_BALANCES: Total balances (The sum of vault and trading + prime custody)\n - PRIME_CUSTODY_BALANCES: Prime custody balances\n - UNIFIED_TOTAL_BALANCES: Unified total balance across networks and wallet types (vault + trading + prime custody)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_BALANCE_TYPE",
              "TRADING_BALANCES",
              "VAULT_BALANCES",
              "TOTAL_BALANCES",
              "PRIME_CUSTODY_BALANCES",
              "UNIFIED_TOTAL_BALANCES"
            ],
            "default": "UNKNOWN_BALANCE_TYPE"
          }
        ],
        "tags": [
          "Balances"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/buying_power": {
      "get": {
        "summary": "Get Portfolio Buying Power",
        "description": "Returns the size of a buy trade that can be performed based on existing holdings and available credit. The result will differ for different assets due to asset specific credit configurations and caps. Note that this result is changing based on asset price fluctuations, so may be rejected when submitted.",
        "operationId": "PrimeRESTAPI_GetBuyingPower",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetBuyingPowerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The unique ID of the portfolio",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "base_currency",
            "description": "The symbol for the base currency",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "quote_currency",
            "description": "The symbol for the quote currency",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/commission": {
      "get": {
        "summary": "Get Portfolio Commission",
        "description": "Retrieve commission associated with a given portfolio.",
        "operationId": "PrimeRESTAPI_GetPortfolioCommission",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioCommissionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Commission"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/credit": {
      "get": {
        "summary": "Get Portfolio Credit Information",
        "description": "Retrieve a portfolio's post-trade credit information.",
        "operationId": "PrimeRESTAPI_GetPostTradeCredit",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPostTradeCreditResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/fills": {
      "get": {
        "summary": "List Portfolio Fills",
        "description": "Retrieve fills on a given portfolio. This endpoint requires a start_date, and returns a payload with a default limit of 100 if not specified by the user. The maximum allowed limit is 3000.",
        "operationId": "PrimeRESTAPI_GetPortfolioFills",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioFillsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The portfolio ID associated with the order",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "Cursor used for pagination (last consumed record)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "start_date",
            "description": "A start date for the fills to be queried from",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "description": "An end date for the fills to be queried until",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/locates": {
      "get": {
        "summary": "List Existing Locates",
        "description": "List locates for the portfolio",
        "operationId": "PrimeRESTAPI_GetExistingLocates",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetExistingLocatesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The unique ID of the portfolio",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "locate_ids",
            "description": "The IDs of specific locates to filter for",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "conversion_date",
            "description": "Deprecated: Use locate_date instead",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "locate_date",
            "description": "The date of the locates in YYYY-MM-DD format",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      },
      "post": {
        "summary": "Create New Locates",
        "description": "Create a new locate",
        "operationId": "PrimeRESTAPI_CreateNewLocates",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CreateNewLocatesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The unique ID of the portfolio",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string",
                  "example": "BTC",
                  "description": "Currency symbol"
                },
                "amount": {
                  "type": "string",
                  "example": "100",
                  "description": "Locate Amount"
                },
                "conversion_date": {
                  "type": "string",
                  "example": "2023-11-01",
                  "description": "Deprecated: Use locate_date instead"
                },
                "locate_date": {
                  "type": "string",
                  "example": "2023-11-01",
                  "description": "The target date of the locate (YYYY-MM-DD)"
                }
              },
              "required": [
                "symbol",
                "amount"
              ]
            }
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/margin_conversions": {
      "get": {
        "summary": "List Margin Conversions",
        "description": "Lists conversions and short collateral requirement between specified date range. This endpoint is deprecated and will be removed in the future. Use /v1/entities/{entity_id}/margin_summaries instead.",
        "operationId": "PrimeRESTAPI_GetMarginConversions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetMarginConversionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The unique ID of the portfolio",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "description": "The start date of the range to query for in RFC3339 format",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "description": "The end date of the range to query for in RFC3339 format",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Financing"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/onchain_address_group": {
      "post": {
        "summary": "Create Onchain Address Book Entry",
        "description": "Creates an entry to the portfolio's onchain address groups.",
        "operationId": "PrimeRESTAPI_CreateOnchainAddressGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.ActivityCreationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "address_group": {
                  "$ref": "#/definitions/coinbase.public_rest_api.AddressGroup"
                }
              },
              "title": "ChangeOnchainAddressGroupRequest is a request to create or update a new onchain address group",
              "required": [
                "address_group"
              ]
            }
          }
        ],
        "tags": [
          "Onchain Address Book"
        ]
      },
      "put": {
        "summary": "Update Onchain Address Book Entry",
        "description": "Updates an entry to the portfolio's onchain address groups.",
        "operationId": "PrimeRESTAPI_UpdateOnchainAddressGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.ActivityCreationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "address_group": {
                  "$ref": "#/definitions/coinbase.public_rest_api.AddressGroup"
                }
              },
              "title": "ChangeOnchainAddressGroupRequest is a request to create or update a new onchain address group",
              "required": [
                "address_group"
              ]
            }
          }
        ],
        "tags": [
          "Onchain Address Book"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/onchain_address_group/{address_group_id}": {
      "delete": {
        "summary": "Delete Onchain Address Group",
        "description": "Deletes an entry in the portfolio's onchain address groups.",
        "operationId": "PrimeRESTAPI_DeleteOnchainAddressGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.ActivityCreationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "address_group_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Onchain Address Book"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/onchain_address_groups": {
      "get": {
        "summary": "List Onchain Address Groups",
        "description": "Lists all onchain address groups for a given portfolio ID",
        "operationId": "PrimeRESTAPI_ListOnchainAddressGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.ListOnchainAddressGroupsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Onchain Address Groups"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/open_orders": {
      "get": {
        "summary": "List Open Orders",
        "description": "List all open orders. \u003cbr /\u003e\u003cbr /\u003e\u003cb\u003eCaution:\u003c/b\u003e The maximum number of orders returned is 1000. If a client has more than 1000 open orders, an error is returned prompting the user to use Websocket API, or FIX API to stream open orders.",
        "operationId": "PrimeRESTAPI_GetOpenOrders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetOpenOrdersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "product_ids",
            "description": "List of products by which to filter the response",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_type",
            "description": "An order type by which to filter the response\n\n - UNKNOWN_ORDER_TYPE: nil value\n - MARKET: A [market order](https://en.wikipedia.org/wiki/Order_(exchange)#Market_order)\n - LIMIT: A [limit order](https://en.wikipedia.org/wiki/Order_(exchange)#Limit_order)\n - TWAP: A [time-weighted average price order](https://en.wikipedia.org/wiki/Time-weighted_average_price)\n - BLOCK: A [block trade](https://en.wikipedia.org/wiki/Block_trade)\n - VWAP: A [volume-weighted average price order](https://en.wikipedia.org/wiki/Volume-weighted_average_price)\n - STOP_LIMIT: A [conditional order combined of stop order and limit order](https://en.wikipedia.org/wiki/Order_(exchange)#Stop-limit_order)\n - RFQ: A [request for quote](https://en.wikipedia.org/wiki/Request_for_quote)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_ORDER_TYPE",
              "MARKET",
              "LIMIT",
              "TWAP",
              "BLOCK",
              "VWAP",
              "STOP_LIMIT",
              "RFQ"
            ],
            "default": "UNKNOWN_ORDER_TYPE"
          },
          {
            "name": "cursor",
            "description": "\u003cb\u003eDeprecated\u003c/b\u003e - this endpoint always returns one page with at most 1000 orders. If you need to retrieve more than 1000 orders, use the WebSocket API instead.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "\u003cb\u003eDeprecated\u003c/b\u003e - the limit for this endpoint is always 1000. If you need to retrieve more than 1000 orders, use the WebSocket API instead.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          },
          {
            "name": "start_date",
            "description": "A start date for the orders to be queried from",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "order_side",
            "description": "An order side to filter on.\n\n - UNKNOWN_ORDER_SIDE: nil value\n - BUY: Buy order\n - SELL: Sell order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_ORDER_SIDE",
              "BUY",
              "SELL"
            ],
            "default": "UNKNOWN_ORDER_SIDE"
          },
          {
            "name": "end_date",
            "description": "An end date for the orders to be queried from",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/order": {
      "post": {
        "summary": "Create Order",
        "description": "Create an order.",
        "operationId": "PrimeRESTAPI_CreateOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CreateOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The ID of the portfolio that owns the order",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string",
                  "title": "The ID of the product being traded for the order (e.g. `BTC-USD`)"
                },
                "side": {
                  "$ref": "#/definitions/coinbase.public_rest_api.OrderSide",
                  "example": "BUY",
                  "description": "The side of the order"
                },
                "client_order_id": {
                  "type": "string",
                  "title": "A client-generated order ID used for reference purposes"
                },
                "type": {
                  "$ref": "#/definitions/coinbase.public_rest_api.OrderType",
                  "example": "LIMIT",
                  "description": "The type of order placed. Block and RFQ orders are not supported. Leverage the /rfq and /accept_quote endpoints to submit RFQ order types",
                  "title": "The type of the order"
                },
                "base_quantity": {
                  "type": "string",
                  "title": "Order size in base asset units (either `base_quantity` or `quote_value` is required)"
                },
                "quote_value": {
                  "type": "string",
                  "title": "Order size in quote asset units, i.e. the amount the user wants to spend (when buying) or receive (when selling); the quantity in base units will be determined based on the market liquidity and indicated `quote_value` (either `base_quantity` or `quote_value` is required)"
                },
                "limit_price": {
                  "type": "string",
                  "title": "The limit price (required for TWAP, VWAP, LIMIT, and STOP_LIMIT orders)"
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "title": "The start time of the order in UTC (TWAP only)"
                },
                "expiry_time": {
                  "type": "string",
                  "format": "date-time",
                  "title": "The expiry time of the order in UTC (TWAP, VWAP, LIMIT, and STOP_LIMIT GTD only)"
                },
                "time_in_force": {
                  "$ref": "#/definitions/coinbase.public_rest_api.TimeInForceType",
                  "title": "Time in force"
                },
                "stp_id": {
                  "type": "string",
                  "title": "An optional self trade prevention id (in the form of a UUID). The value is only honored for certain clients who are permitted to specify a custom self trade prevention id"
                },
                "display_quote_size": {
                  "type": "string"
                },
                "display_base_size": {
                  "type": "string"
                },
                "is_raise_exact": {
                  "type": "boolean"
                },
                "historical_pov": {
                  "type": "string",
                  "title": "Historical percentage of volume"
                },
                "stop_price": {
                  "type": "string",
                  "title": "Specifies the stop price at which the order activates. The order is activated if the last trade price on Coinbase Exchange crosses the stop price specified on the order"
                },
                "settl_currency": {
                  "type": "string",
                  "description": "next: 19",
                  "title": "The currency in which the settlement will be made"
                }
              },
              "required": [
                "product_id",
                "side",
                "client_order_id",
                "type"
              ]
            }
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/order_preview": {
      "post": {
        "summary": "Get Order Preview",
        "description": "Retrieve an order preview.",
        "operationId": "PrimeRESTAPI_OrderPreview",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.PostOrderPreviewResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The ID of the portfolio that owns the order",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string",
                  "title": "The ID of the product being traded for the order (e.g. `BTC-USD`)"
                },
                "side": {
                  "$ref": "#/definitions/coinbase.public_rest_api.OrderSide",
                  "example": "BUY",
                  "description": "The side of the order"
                },
                "type": {
                  "$ref": "#/definitions/coinbase.public_rest_api.OrderType",
                  "example": "LIMIT",
                  "description": "The type of order placed. Block and RFQ orders are not supported. Leverage the /rfq and /accept_quote endpoints to submit RFQ order types",
                  "title": "The type of the order"
                },
                "base_quantity": {
                  "type": "string",
                  "title": "Order size in base asset units (either `base_quantity` or `quote_value` is required)"
                },
                "quote_value": {
                  "type": "string",
                  "title": "Order size in quote asset units, i.e. the amount the user wants to spend (when buying) or receive (when selling); the quantity in base units will be determined based on the market liquidity and indicated `quote_value` (either `base_quantity` or `quote_value` is required)"
                },
                "limit_price": {
                  "type": "string",
                  "title": "The limit price (required for TWAP, VWAP, LIMIT and STOP_LIMIT orders)"
                },
                "start_time": {
                  "type": "string",
                  "format": "date-time",
                  "title": "The start time of the order in UTC (TWAP, VWAP only)"
                },
                "expiry_time": {
                  "type": "string",
                  "format": "date-time",
                  "title": "The expiry time of the order in UTC (TWAP, VWAP, LIMIT and STOP_LIMIT GTD only)"
                },
                "time_in_force": {
                  "$ref": "#/definitions/coinbase.public_rest_api.TimeInForceType",
                  "title": "Time in force"
                },
                "is_raise_exact": {
                  "type": "boolean",
                  "title": "Raise Exact order flag"
                },
                "historical_pov": {
                  "type": "string",
                  "title": "Historical percentage of volume"
                },
                "stop_price": {
                  "type": "string",
                  "title": "Specifies the stop price at which the order activates. The order is activated if the last trade price on Coinbase Exchange crosses the stop price specified on the order"
                },
                "settl_currency": {
                  "type": "string",
                  "description": "next: 15",
                  "title": "The currency in which the settlement will be made"
                }
              },
              "required": [
                "product_id",
                "side",
                "type"
              ]
            }
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/orders": {
      "get": {
        "summary": "List Portfolio Orders",
        "description": "List historical orders for a given portfolio. This endpoint returns a payload with a default limit of 100 if not specified by the user. The maximum allowed limit is 3000. \u003cbr /\u003e\u003cbr /\u003e\u003cb\u003eCaution:\u003c/b\u003e Currently, you cannot query open orders with this endpoint: use List Open Orders if you have less than 1000 open orders, otherwise use Websocket API, or FIX API to stream open orders.",
        "operationId": "PrimeRESTAPI_GetOrders",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetOrdersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "order_statuses",
            "description": "List of statuses by which to filter the response\n\n - UNKNOWN_ORDER_STATUS: nil value\n - OPEN: The order is open but unfilled\n - FILLED: The order was filled\n - CANCELLED: The order was cancelled\n - EXPIRED: The order has expired\n - FAILED: Order submission failed\n - PENDING: The order has been sent but is not yet confirmed",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "UNKNOWN_ORDER_STATUS",
                "OPEN",
                "FILLED",
                "CANCELLED",
                "EXPIRED",
                "FAILED",
                "PENDING"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "product_ids",
            "description": "List of products by which to filter the response",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "order_type",
            "description": "Order type by which to filter the response\n\n - UNKNOWN_ORDER_TYPE: nil value\n - MARKET: A [market order](https://en.wikipedia.org/wiki/Order_(exchange)#Market_order)\n - LIMIT: A [limit order](https://en.wikipedia.org/wiki/Order_(exchange)#Limit_order)\n - TWAP: A [time-weighted average price order](https://en.wikipedia.org/wiki/Time-weighted_average_price)\n - BLOCK: A [block trade](https://en.wikipedia.org/wiki/Block_trade)\n - VWAP: A [volume-weighted average price order](https://en.wikipedia.org/wiki/Volume-weighted_average_price)\n - STOP_LIMIT: A [conditional order combined of stop order and limit order](https://en.wikipedia.org/wiki/Order_(exchange)#Stop-limit_order)\n - RFQ: A [request for quote](https://en.wikipedia.org/wiki/Request_for_quote)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_ORDER_TYPE",
              "MARKET",
              "LIMIT",
              "TWAP",
              "BLOCK",
              "VWAP",
              "STOP_LIMIT",
              "RFQ"
            ],
            "default": "UNKNOWN_ORDER_TYPE"
          },
          {
            "name": "cursor",
            "description": "Cursor used for pagination (last consumed record)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          },
          {
            "name": "order_side",
            "description": "An order side to filter on.\n\n - UNKNOWN_ORDER_SIDE: nil value\n - BUY: Buy order\n - SELL: Sell order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN_ORDER_SIDE",
              "BUY",
              "SELL"
            ],
            "default": "UNKNOWN_ORDER_SIDE"
          },
          {
            "name": "start_date",
            "description": "A start date for the orders to be queried from",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "description": "An end date for the orders to be queried from",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/orders/{order_id}": {
      "get": {
        "summary": "Get Order by Order ID",
        "description": "Retrieve an order by order ID.",
        "operationId": "PrimeRESTAPI_GetOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "Portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "order_id",
            "description": "Order ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/orders/{order_id}/cancel": {
      "post": {
        "summary": "Cancel Order",
        "description": "Cancel an order. (Filled orders cannot be canceled.)",
        "operationId": "PrimeRESTAPI_CancelOrder",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.CancelOrderResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The ID of the portfolio under which the order was placed",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "order_id",
            "description": "The order ID generated by Coinbase upon order submission",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/orders/{order_id}/fills": {
      "get": {
        "summary": "List Order Fills",
        "description": "Retrieve fills on a given order. This endpoint returns a payload with a default limit of 100 if not specified by the user. The maximum allowed limit is 3000.",
        "operationId": "PrimeRESTAPI_GetOrderFills",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetOrderFillsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The portfolio ID associated with the order",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "order_id",
            "description": "The order ID generated by Coinbase",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "Cursor used for pagination (last consumed record)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC"
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/v1/portfolios/{portfolio_id}/products": {
      "get": {
        "summary": "List Portfolio Products",
        "description": "List tradable products for a given portfolio.",
        "operationId": "PrimeRESTAPI_GetPortfolioProducts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/coinbase.public_rest_api.GetPortfolioProductsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "portfolio_id",
            "description": "The portfolio ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "cursor",
            "description": "Cursor used for pagination (last consumed record)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of items to retrieve",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_direction",
            "description": "Sorting order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DESC",
              "ASC"
            ],
[...]
